.a-button {
    cursor: pointer;

    &.-location {
        height: 50px;
        width: $input-height;
        background-color: $gray-3;
        border: 1px solid $white;
        border-radius: 50%;
        color: $white;
        font-size: 22px;
    }
}