.m-app {
    min-height: 100vh;
    padding-bottom: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparentize($black, .7);
    background-blend-mode: multiply;
}