.m-card {
    font-size: 1rem;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        text-align: center;
        color: $white;
        border-radius: 6px;
        background-color: $white-2;
        outline: none;
        transition: background-color $transition-default-time;

        &:hover,
        &:focus {
            background-color: transparent;
        }

        > * {
            @include first-child-none('margin-top', 10px);
        }

        .-main & {
            font-size: 1.5rem;
            background-color: transparent;

            &:hover,
            &:focus {
                background-color: $white-2;
            }
        }

        &--temp {
            display: flex;
            font-size: 1.2em;
        }

        &--date {
            font-size: 2em;
            line-height: 25px;
        }

        &--heading {
            font-size: 3.2em;
        }

        &--text {
            font-size: 1.5em;
            line-height: 20px;
        }
    }
}