.m-section {
    padding-top: 45px;

    &.-location {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 45px;
        border-bottom: 1px solid $white;

        > * { 
            @include first-child-none('margin-top', 30px);
        }
    }


    &.-main {
        pointer-events: none;
    }

    &.-dailyInfo {
        pointer-events: none;

        .m-card {
           margin-top: $grid-gutter * 2;
        }
    }

    &.-addCity {
        display: flex;
        justify-content: center;
        align-items: center;

        > * {
            @include first-child-none('margin-left', 20px);
        }
    }

    &.-suggestedLocation {

        .m-card {
            margin-top: $grid-gutter * 2;
            border: 1px solid transparent;

            &.-focus {
                border: 1px solid $white;
            }
        }
    }

    &__content {
        
        .-location & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;
            color: $white;
        }
    }
}