.-flex {
    display: flex;
}

.-fdc {
    flex-direction: column;
}

.-aic {
    align-items: center;
}

.-jcsb {
    justify-content: space-between;
}

.-jcc {
    justify-content: center;
}

.-asr {
    align-self: flex-end;
}

.-mt20 {
    margin-top: 20px;
}

.-mha {
    margin-left: auto;
    margin-right: auto;
}

.-hidden {
    display: none;
}

.-light {
    color: $white-4;
}